* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #f5ebd7;
  --color: #3c3c38;
  --white: #fdfdfd;
  --overlay: rgba(0, 0, 0, 0.5);
  --footer-bg: #2e2e2e;
}


body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--bg);
  color: var(--color);
  overflow: hidden;
}

header {
  background-color: var(--white);
  padding: 2rem;
  position: relative; /* ハンバーガーアイコンのために相対位置を設定 */
}

footer {
  color: var(--white);
  text-align: center;
  padding: 1rem;
  background: var(--footer-bg);
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
