
.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体に中央揃え */
  width: 100%;
}

.headerBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  padding: 2rem;
  /* position: absolute;
  top: 40%;    
  left: 50%;   
  transform: translate(-50%, -50%);  */
}

.headerBtns button {
  background: transparent;
  font-size: 1rem;
  color: var(--color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.headerBtns button:hover {
  background: var(--wordBg);
}
