.headerBtns {
  display: flex;
  justify-content: center;
  gap: 1rem; /* ボタン間のスペース */
  padding: 2rem;
}

@media (min-width: 600px) {
  
  .headerBtns {
    justify-content: flex-end;
    padding: 2rem 4rem;
  }
}

.headerBtns button {
  background: transparent;
  color: var(--color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.headerBtns button:hover {
  background: #e0e0e0;
}