.headerBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  padding: 2rem;
  position: absolute;
  top: 50%;           /* 縦中央 */
  left: 50%;          /* 横中央 */
  transform: translate(-50%, -50%); /* 中央 */
}

.headerBtns button {
  background: transparent;
  color: var(--color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.headerBtns button:hover {
  background: #e0e0e0;
}
