.introContainer {
  text-align: center;
  margin-top: 10vh;
  position: relative;
}

.introTitle {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: rgb(99, 97, 97);
  display: inline-block;
}

.faceWrapper {
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.face {
  width: 150px;
  border-radius: 50%;
}

.hand {
  width: 120px;
  position: absolute;
  top: 30px;
  left: 10%;
}

